*.iml
.gradle
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
keystore.properties
buildSrc/build/
buildSrc/build/kotlin/sessions/
buildSrc/build/pluginDescriptors/
*.jks
*.jks.old
*.pepk
*.aab
.envrc